#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fbfafb;
  padding: 15px 0px;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friends-display-link i {
  color: var(--main-border);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

#splash-screen {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 250px;
  animation: rotateLogo 0.4s ease-in-out;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes rotateLogo {
  20% {
    transform: rotateZ(30deg);
  }
  60% {
    transform: rotateZ(-30deg);
  }
  80% {
    transform: rotateZ(15deg);
  }
  90% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: none;
  }
}
